@{
    ViewBag.Title = "Home";
}
@section titleheader
{
    Welcome
}

<div id="fh5co-services" class="fh5co-bg-section animate-box hometext">
    <div class="indexitem">

        <div class="col-md-3 col-sm-6 indeximage"><img class="personalimage" src="~/Content/images/JonBaker.jpg" /></div>

        <div class="col-md-3 col-sm-6 indextext">
            <br />
            <p>I'm Jon Baker. I spent over ten years in the home healthcare field working as direct support staff for individuals with developmental disabilies.  I worked directly with the individuals in their homes and in the community helping them live as independently as possible.  This experience has made me very service oriented, actively looking for ways to help.  It also encouraged active listening, social perceptiveness, and problem sensitivity, knowing when there is a problem without being told about it.  Finally, it is a field which promotes critical thinking and deductive reasoning to solve problems.  Those problem solving skills have led me into development.  I have always had an interest in technology and have taken several coding classes over the years, culminating in my current enrollment in Centriq Training's full-stack web developer track.  I enjoy applying my reasoning and problem solving skills to coding and I am excited to make a career change into the IT field.</p>
            <br /><br /><hr />
            <p>Check out my r&eacute;sum&eacute; and portfolio of projects I've completed and then visit some of my classmates' sites or use the contact form to leave me a message.  Thanks for stopping by!</p>



            <div class="indexbuttonrow col-md-12">
                <button class="indexbutton" onclick="window.open('/Content/files/JonBaker_FullStackWebDeveloper.pdf')">Download my r&eacute;sum&eacute;</button>
                <button class="indexbutton" onclick="window.open('/Home/Projects')">My Projects</button>
                <button class="indexbutton" onclick="window.open('/Home/Links')">My Classmates</button>
                <button class="indexbutton" onclick="window.open('/Home/Contact')">Contact Me</button>
            </div>
        </div>
    </div>
</div>