
@{
    ViewBag.Title = "Links";
}
@section titleheader{Links}
<div id="fh5co-services" class="fh5co-bg-section animate-box">
    <div class="col-md-12" id="linkheading">My Centriq Classmates:<br /></div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://brianbeerman.com">
            <img src="~/content/images/brianbeerman.png" />
            <br /><span class="linkname">Brian Beerman</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://brblev.com">
            <img src="~/content/images/brettblevins.png" />
            <br /><span class="linkname">Brett Blevins</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://tlcarey.com">
            <img src="~/content/images/tinacarey.jpg" />
            <br /><span class="linkname">Tina Carey</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://elliottdev.com">
            <img src="~/content/images/wayneelliott.png" />
            <br /><span class="linkname">Wayne Elliott</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://grassrootsdev.net">
            <img src="~/content/images/samuelgrass.jpg" />
            <br /><span class="linkname">Samuel Grass</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://jessicahargrove.com">
            <img src="~/content/images/jessicahargrove.jpg" />
            <br /><span class="linkname">Jessica Hargrove</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://hurleydev.net">
            <img src="~/content/images/nelsonhurley.png" />
            <br /><span class="linkname">Nelson Hurley</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://aprilisley.com">
            <img src="~/content/images/aprilisley.jpg" />
            <br /><span class="linkname">April Isley</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://maximumeffortdev.com">
            <img src="~/content/images/adamkoontz.jpg" />
            <br /><span class="linkname">Adam Koontz</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://korinnemasters.com">
            <img src="~/content/images/korinnemasters.jpg" />
            <br /><span class="linkname">Korinne Masters</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://jakeuery.com">
            <img src="~/content/images/jakeselvera.png" />
            <br /><span class="linkname">Jake Selvera</span>
        </a>
    </div>
    <div class="link col-md-3 col-sm-6">
        <a href="http://wichcode.com">
            <img src="~/content/images/anthonywichman.png" />
            <br /><span class="linkname">Anthony Wichman</span>
        </a>
    </div>
</div>

