
@{
    ViewBag.Title = "Resume";
}

@section styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/overcast/jquery-ui.css">
}

@section titleheader{R&eacute;sum&eacute;}

<div id="fh5co-services" class="fh5co-bg-section animate-box">

    <div id="accordion">
        <h3>Qualifications</h3>

        <div>
            <span class="job">
                <ul>
                    <li>Possesses a solid foundational knowledge of designing and developing full-stack web applications using .NET framework.</li>
                    <li>Successfully sustains new challenges and stressful situations.</li>
                    <li>Functions as a team player, as well as demonstrate a proven ability to work well independently.</li>
                    <li>Experienced in leading small teams and maintaining organizational standards.</li>
                </ul>
            </span>
        </div>

        <h3>Technical Skills</h3>
        <div>
            <span class="job">
                <ul>
                    <p>
                        <strong>Front End:</strong><br />
                        HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap<br />
<br />
                    </p>
                    
                    
            </span>
            <span class="job">
                <p>
                    <strong>Middle Tier:</strong><br />
                    Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF
                    <br /><br />
                </p>
                
            </span>
            <span class="job">
                
                    <strong>Back End:</strong><br />
                    ADO.NET, SQL, SQL Server, SSMSE
                    <br /><br />
                
                </ul>
            </span>
        </div>
        <h3>Independent Development Projects</h3>
        <div>

            <span class="job">
                <ul>
                    <li>
                        <p><strong>Personal Site: </strong></p>
                        http://jdbaker.net
                        <br /><br />
                    </li>
                    <li>
                        <p><strong>Agency LMS:  </strong></p>
                        Created a secure data-driven ASP.NET MVC application from design through deployment for managing an employee’s progress through a direct support agency’s training and education courses.  Employees can view courses, which are divided into one or more lessons and then check their progress and expiration dates on courses they’ve completed.  Managers can view the progress of the employees under them and are automatically emailed when one of their staff completes a course.
                        <br /><br />
                    </li>
                    <li>
                        <p><strong>SpaceX:  </strong></p>
                        Built a simple ASP.NET MVC application to interact with the SpaceX API.  The landing page displays a JavaScript countdown to the next launch.  The other page displays information about all launches gathered with C# in a separate layer of the application that could easily be utilized in another project.
                        <br /><br />
                    </li>
                    <li>
                        <p><strong>Superheroes, Inc.:  </strong></p>
                        Designed a secure data-driven ASP.NET MVC application for a fictional charity offering the community classes taught by superheroes.  This application was developed in Team Development class at Centriq Training.  Students developed their application in an Agile environment, utilizing Scrum ceremonies, Kanban boards, and source control.  Students were only permitted to work on this project during school hours over the course of two days.
                        <br /><br />
                    </li>
                </ul>
            </span>
        </div>
        <h3>Technical Training</h3>
        <div>
            <span class="job">
                <p><strong>Centriq Training</strong> | Kansas City, MO | January 2019 - Present<br />Full-Stack Web Developer Track</p>
                <em>Core Competencies:</em>
                <ul>
                    <li>MVC Framework</li>
                    <li>Troubleshooting &amp; Debugging</li>
                    <li>Source Control</li>
                    <li>Agile/Scrum (Created Team Project)</li>
                    <li>Website Deployment</li>
                    <li>Pair Programming</li>
                    <li>Code Review</li>
                    <li>Professionalism, Teamwork, Problem Solving & Effective Communication</li>
                </ul>
            </span>
        </div>
        <h3>Professional Experience</h3>
        <div>
            <span class="job">
                <p><strong>Community Choice, Inc.</strong> | Kansas City, MO | 2018 - 2019<br />Direct Support Professional</p>
                <ul>
                    <li>Assisted individuals with developmental and intellectual disabilities in their homes and communities, helping them live as independently as possible.</li>
                    <li>Ensured that medications were properly dosed and administered.</li>
                    <li>Transported individuals in adaptive van to facilitate community integration</li>
                </ul>

            </span>

            <span class="job">
                <p><strong>Comfort of Home Healthcare</strong> | Kansas City, MO | 2017 - 2018<br />Lead Staff</p>
                <ul>
                    <li>Worked full-time assisting developmentally disabled individuals in their home and the community.</li>
                    <li>Managed staff in the home to ensure that individuals were receiving appropriate quality care and assistance.</li>
                    <li>Scheduled staff to work shifts and remained on-call to fill shifts as needed.</li>
                </ul>

            </span>
            <span class="job">
                <p><strong>Easterseals Midwest</strong> | Kansas City, MO | 2014 - 2017<br />Medical Support Instructor</p>
                <ul>
                    <li>Assisted individuals with developmental disabilities and extensive medical needs.</li>
                    <li>Maintained appropriate medical certifications and delegations.</li>
                </ul>

            </span>

            <span class="job">
                <p><strong>Community Choice, Inc.</strong> | Kansas City, MO | 2013 - 2014<br />Community Integration Specialist</p>
                <ul>
                    <li>Assisted individuals with developmental and intellectual disabilities in the community.</li>
                    <li>Transported individuals throughout the city to attend events and visit attractions.</li>
                    <li>Encouraged appropriate social skills and interactions.</li>
                </ul>

            </span>

            <span class="job">
                <p><strong>Alternative Opportunities</strong> | Kansas City, MO | 2010 - 2013<br />Direct Support Professional</p>
                <ul>
                    <li>Worked full-time assisting developmentally disabled individuals in their home and in the community.</li>
                    <li>Managed staff in the home to ensure that individuals were receiving appropriate quality care and assistance.</li>
                    <li>Scheduled staff to work shifts and remained on-call at all times to assist staff or fill shifts as needed.</li>
                </ul>
            </span>
        </div>
    </div>
    <br /><br />
    <button id="resumebutton" onclick="window.open('/Content/files/JonBaker_FullStackWebDeveloper.pdf')">Download my r&eacute;sum&eacute;<br />in PDF format.</button>
    

</div>
@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var icons = {
                header: "ui-icon-plus",
                activeHeader: "ui-icon-minus"
            };

            $("#accordion").accordion({
                icons: icons,
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
        });
    </script>
}

